.pngi.icon-available-survey {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/available-survey.png');
}
.pngi.icon-baseball {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/baseball.png');
}
.pngi.icon-cambridge {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/cambridge.png');
}
.pngi.icon-election-centre-advert {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/election-centre-advert.png');
}
.pngi.icon-election-centre {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/election-centre.png');
}
.pngi.icon-election-livemap-advert {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/election-livemap-advert.png');
}
.pngi.icon-facebook-connect-large {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/facebook-connect-large.png');
}
.pngi.icon-facebook-connect-small {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/facebook-connect-small.png');
}
.pngi.icon-first-prize {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/first-prize.png');
}
.pngi.icon-globe {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/globe.png');
}
.pngi.icon-paid-survey {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/paid-survey.png');
}
.pngi.icon-party-conservatives {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-conservatives.png');
}
.pngi.icon-party-green-party {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-green-party.png');
}
.pngi.icon-party-labour {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-labour.png');
}
.pngi.icon-party-liberal-democrats {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-liberal-democrats.png');
}
.pngi.icon-party-plaid-cymru {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-plaid-cymru.png');
}
.pngi.icon-party-snp {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-snp.png');
}
.pngi.icon-party-ukip {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/party-ukip.png');
}
.pngi.icon-pdf-large {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/pdf-large.png');
}
.pngi.icon-pdf {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/pdf.png');
}
.pngi.icon-redemption {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/redemption.png');
}
.pngi.icon-register-popup-corwd {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/register-popup-corwd.png');
}
.pngi.icon-second-prize {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/second-prize.png');
}
.pngi.icon-speakers-corner {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/speakers-corner.png');
}
.pngi.icon-survey-completed {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/survey-completed.png');
}
.pngi.icon-third-prize {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/third-prize.png');
}
.pngi.icon-uk-map-fallback-v1 {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/uk-map-fallback-v1.png');
}
.pngi.icon-uk-map-fallback-v2 {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/uk-map-fallback-v2.png');
}
.pngi.icon-uk-map {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/uk-map.png');
}
.pngi.icon-uncle-sam {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/uncle-sam.png');
}
.pngi.icon-us-election {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/us-election.png');
}
.pngi.icon-widget-response-red {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/widget-response-red.png');
}
.pngi.icon-world-map-uk {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/world-map-uk.png');
}
.pngi.icon-yougov-app {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/yougov-app.png');
}
.pngi.icon-yougov-crowd {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/yougov-crowd.png');
}
.pngi.icon-yougov-cube {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/yougov-cube.png');
}
.pngi.icon-yougov-daily {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url('images/png/src/yougov-daily.png');
}
